<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Sign In</title>

    <!-- Font Icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Main css -->
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/0787d9c3be.js" crossorigin="anonymous"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    @*<link href="~/Sweetalert script/sweetalert.css" rel="stylesheet" />*@
</head>

<body class="login-body">
    <script src="~/vender/jquery.min.js"></script>
    @RenderBody()
    <script src="~/js/main.js"></script>
    @*<script src="~/Sweetalert script/Scripts/sweetalert.min.js"></script>*@
</body>
</html>
